.menu-toggle-styles {
  @apply ease-in-out rotate-0 inline-block rounded absolute h-[3px] w-7 bg-title_color;
}

.link {
  position: relative;
  display: block;
  overflow: hidden;
}

.text {
  display: block;
  transition: .4s cubic-bezier(.86,.35,.44,.99);
}

.link:hover .text {
  transform: translateY(-100%);
}

.link::before {
  position: absolute;
  content: attr(data-link-alt);
  top: 100%;
  opacity: 0;
  transition: .4s cubic-bezier(.86,.35,.44,.99);
}

.link:hover::before {
  top: 0;
  opacity: 1;
}

.animateNav {
  background: linear-gradient(to left, transparent 50%, #f5f5f5 50%);
  background-size: 200% 100%;
  background-position: 0% 0;
}

