.tag {
  position: relative;
  transition: 0.4s color ease-in-out;
}

.tag:hover {
  color: #151515;
}

.tag::before {
  content: '';
  position: absolute;
  right: 0;
  top: 1px;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #D0E3F7;
  border-radius: 25px;
  transition: 0.4s all ease-in-out;
}

.tag:hover::before {
  left: 0;
  width: 100%;
}
