.tag {
  position: relative;
  transition: 0.4s color ease-in-out;
}

.tag:hover {
  color: #151515;
}

.tag::before {
  content: '';
  position: absolute;
  right: 0;
  top: 1px;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #D0E3F7;
  border-radius: 25px;
  transition: 0.4s all ease-in-out;
}

.tag:hover::before {
  left: 0;
  width: 100%;
}

.cursor {
  position: absolute;
  background: #D0E3F7;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(.8);
  opacity: 0;
}

.cursor::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../../../public/assets/cursor.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0;
}

.cursor.active {
  opacity: 1;
  transform: scale(12);
}

.cursor.active::before {
  opacity: 1;
}

/* .MuiPaginationItem-page.Mui-selected {
  background-color: #D0E3F7;
}

.MuiPaginationItem-root:hover {
  background-color: #D0E3F7;
}

.MuiPaginationItem-root:active {
  background-color: transparent;
}
.MuiPaginationItem-root:focus {
  background-color: transparent;
} */
